@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: fit-content;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.div_input input {
    border-radius: 5px;
    padding: 3px 5px;
    width: 90%;
}

.section_input {
    display: flex;
    gap: 10px;
}

.section_sorteados {
    display: flex;
    justify-content: center;
    gap: 150px;
}

#sorteio-feito p {
    font-size: 20px;
}

#btn-sortear {
    cursor: pointer;
    padding: 3px 4px;
    font-size: 16px;
}

img {
    margin: 30px auto;
    width: 60px;
    animation-timing-function: ease-in-out;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    display: none;
}

.adicionar-rodar {
    animation-name: rodar;
    display: block;
}

@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#div_gringos,
#div_br,
#div_grupos,
#div_jogadores {
    text-align: center;
    margin-top: 30px;
}

#div_gringos {
    margin-top: 100px;
}

#div_gringos > div,
#div_br > div,
#div_grupos > div,
#div_jogadores > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#div_gringos > div span,
#div_br > div span,
#div_grupos > div span,
#div_jogadores > div span {
    border: 1px solid #6b6969;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #0000007e;
}